@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --main-color: #becc94;
  --main-color-hover: #9aa578;
  --header-option-color: #d9d9d9;
  --header-option-color-hover: #bebebe;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  --color-gray: #c6c6c6;
  --color-white: #ffffff;
  --stroke-color: #a3a3a3;
  --font-family: "Inter";
  --buttons-font-weight: 700;
  --searchbar-font-weight: 300;
  --regular-font-weight: 400;
  --searchbar-font-style: italic;
  --font-size-text: 20px;
  --font-size-footer: 32px;
  --width: 1440px;
  --heigth: 1024px;
  --header-width: 1440px;
  --header-heigth: 343px;
  --content-width: 1122px;
  --content-heigth: 572px;
  --sidebar-width: 318px;
  --sidebar-heigth: 545px;
  --footer-width: 1440px;
  --footer-heigth: 109px;
  --icon-width: 178px;
  --icon-heigth: 178px;
  --users-width: 114px;
  --users-heigth: 68px;
  --triangle-width: 15px;
  --triangle-heigth: 15px;
  --search-width: 818px;
  --search-heigth: 68px;
  --go-width: 68px;
  --go-heigth: 68px;
  --mail-width: 49px;
  --mail-heigth: 49px;
  --mail-icon-width: 33px;
  --mail-icon-heigth: 33px;
  --email-width: 317px;
  --email-heigth: 49px;
  --add-width: 81px;
  --add-heigth: 49px;
  --header-options-width: 1000px;
  --header-options-heigth: 86px;
  --header-options-item-width: 200px;
  --header-options-item-heigth: 86px;
  --header-image-width: 292px;
  --header-image-heigth: 155px;
  --content-image1-width: 393px;
  --content-image1-heigth: 301px;
  --content-image2-3-width: 411px;
  --content-image2-3-heigth: 201px;
  --content-image4-width: 127px;
  --content-image4-heigth: 127px;
  --content-text-width: 687px;
  --content-text-heigth: 263px;
  --sidebar-item-width: 318px;
  --sidebar-item-heigth: 109px;
  --footer-item-width: 288px;
  --footer-item-heigth: 109px;
}
